{% extends 'nav.html' %}
{% block content %}
{% load static%}
<br>
   <!DOCTYPE html>
   <html lang="en">
   <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Document</title>
    <style>
        .lightcategories{
            width: 90%;
            margin: 0 40px;
            margin-top: 100px;
            display:flex;
            align-items: center;
            justify-content: center;
            gap: 40px;
            flex-wrap: wrap;
        }
    </style>
   </head>
   <body>
    <div class="lightcategories">
        {% for sao_product in sao_products %}
        <div class="card" style="width: 18rem;border-radius: 30px;">
            <img src="{{ sao_product.image.url }}" class="card-img-top hover-scale" alt="..." height="300px" style="border-radius: 40px; padding: 8px;">
            <div class="card-body">
              <h5 class="card-title d-flex justify-content-between">{{ sao_product.name }} <span>{{sao_product.price}}$</span></h5>
              <p class="card-text">{{ sao_product.description }}</p>
              <div class="action d-flex justify-content-between">
                <a href="#" class="btn">More Details</a>
                <a href="#" class="btn btn-danger">Buy Now</a>
              </div>
            </div>
          </div>
        {% endfor%}
    </div>
   </body>
   </html>
{% endblock content%}